<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-body">
            <h3 class="card-title"> {{ title }} </h3>
            <button class="btn btn-primary my-3" [routerLink]="['/tasks/create']">
                {{ textTask.textCreate }} <i class="fas fa-plus-circle text-white"></i>
            </button>

            @if (tasks.length == 0) {
            <div class="alert alert-warning fw-bold">
                {{ textTask.notRegister }}
            </div>
            } @else {
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th> {{ textTask.titleTable }} </th>
                            <th> {{ textTask.descriptionTable }} </th>
                            <th class="text-end">ACCIONES</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (task of tasks; track $index) {
                        <tr>
                            <td> {{ task.titulo }} </td>
                            <td> {{ task.descripcion }} </td>
                            <td class="text-end">
                                <button class="btn btn-danger btn-sm" (click)="onRemoveTask(task.id)">
                                    {{ textTask.textDelete }}
                                    <i class="fas fa-trash text-white" title="Eliminar tarea"></i>
                                </button>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            }
        </div>
    </div>
</div>